<h1>Listar Funcionários</h1>
<div class="container ml-5 mr-5">
<table class="table table-striped">
    <thead>
        <td>Nome</td>
        <td>CPF</td>
        <td>Email</td>
        <td>Salário</td>
        <td>Data de Nascimento</td>
        <td>Alterar</td>
        <td>Remover</td>
    </thead>
    <tr *ngFor="let funcionario of funcionarios" scope="row">
        <td scope="col">{{funcionario.name}}</td>
        <td scope="col">{{funcionario.cpf}}</td>
        <td scope="col">{{funcionario.email}}</td>
        <td scope="col">{{funcionario.wage}}</td>
        <td scope="col">{{funcionario.birth}}</td>
        <td scope="col"><a routerLink="/pages/funcionario/cadastrar/{{funcionario.id}}">Alterar</a></td>
        <td><button class="btn btn-danger" (click)="remover(funcionario.id!)">Remover</button></td>
    </tr>
</table>
</div>