<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Listar Funcionários</h1>
<div class="container ml-5 mr-5">
<table class="table table-striped">
    <thead>
        <td>Nome</td>
        <td>CPF</td>
        <td>Email</td>
        <td>Salário</td>
        <td>Data de Nascimento</td>
    </thead>
    <tr *ngFor="let funcionario of funcionarios">
        <td style="border: 1px solid black">{{funcionario.name}}</td>
        <td style="border: 1px solid black">{{funcionario.cpf}}</td>
        <td style="border: 1px solid black">{{funcionario.email}}</td>
        <td style="border: 1px solid black">{{funcionario.wage}}</td>
        <td style="border: 1px solid black">{{funcionario.birth}}</td>
    </tr>
</table>
</div>